* {box-sizing:border-box;}


.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
  
}

.mySlides {
  display: none;
  
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.bod-container {
  display: flex;
  gap: 10px;
}

.bod-item {
  background-color: #f2f2f2;
  padding: 10px;
  flex: 0 0 calc(33.33% - 10px);
  box-sizing: border-box;
}

.label {
  font-weight: bold;
}

img{
  border-radius: 8%;
  box-shadow: 5px 5px 5px rgba(56, 51, 51, 0.518);
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.bod{
float: right;
background-color: #cbcbcb;
width: 23%;
height: 33%;
text-align: center;
border-radius: 10%;
margin-right: 2%;
box-shadow: 5px 5px 5px rgba(56, 51, 51, 0.518);
font-weight: bold;
margin-top: 10%;
}

input{
border: 2px #717171;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(139, 139, 139, 0.518);
  padding: 3px 8px;
  margin: 5px;
  font-size: 90%;
  
}

h3{
  font-size: x-large;

}
  

.google-map iframe {
 height: 50%;
 width: 35%;
 margin-top: 5%;
 margin-left: 2%;
 box-shadow: 5px 5px 5px rgba(139, 139, 139, 0.518);
 }




html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
